# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
1. Listing some data sceince libraries.
2. Solving basic problems.
3. Hands on exercise.

Some of the popular languages that Data Scientists use are: 
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Seaborn
* Numpy

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|  GitHub  |
|  Hadoop  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print(x)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
Hours = 200
Minutes = Hours/60
print(Minutes)

3.3333333333333335

## Author
--------------
Ahmad Omran